<div mdl class="material-input__textfield mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
     [class.primary]="isPrimary" [class.accent]="isAccent" [class.error]="isError" [class.valid]="isValid"
     [class.grey]="disabled"
     [class.is-dirty]="_value != null">
  <input class="mdl-textfield__input" [attr.id]="idName" [attr.type]="type" [attr.value]="value" [disabled]="disabled"
         [(ngModel)]="value" (keyup)="keyUp($event)">
  <label class="mdl-textfield__label" [attr.for]="idName">{{label}}</label>
</div>
