@import '../../styles/_constants';

.search-bar {
  width: 100%;
  min-height: 0;
  height: 70px;

  .mdl-card__actions {
    padding: 0 map-get($sizings, normal);
    margin: 0;

    display: flex;
    align-items: center;

    .mdl-textfield {
      flex: 1 1 auto;
    }

    i {
      flex: 0;

      cursor: pointer;
    }
  }
}
