@import '../../styles/_constants';

$fab-size: 56px;

.feed {
  @extend .page;

  position: relative;

  .feed-wrapper {
    width: 100%;
    max-width: $column-size;

    .add-new {
      position: fixed;

      left: map-get($sizings, normal);
      bottom: map-get($sizings, normal);

      z-index: 2000;

      @include fullwidth {
        left: calc((100vw - 750px) / 2);
      }
    }

    .review {
      padding-bottom: map-get($sizings, double);
      position: relative;

      &:last-child {
        padding-bottom: 0;
      }

      @include desktop {
        padding-bottom: map-get($sizings, double);
      }

      .close-button {
        position: absolute;
        top: map-get($sizings, half);
        right: map-get($sizings, half);
        z-index: 10;

        @include tablet {
          top: -1 * map-get($sizings, normal);
          right: -1 * map-get($sizings, normal);
        }

        @include desktop {
          top: -1 * map-get($sizings, normal);
          right: -1 * map-get($sizings, normal);
        }
      }

      p {
        margin: 0;
        padding: 0;
      }

      .title {
        width: 100%;

        p.title-bar {
          width: 100%;

          text-align: center;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @include tablet {
            flex-direction: row;
          }

          @include desktop {
            flex-direction: row;
          }

          span.name, span.book-title {
            font-size: 18px;
            opacity: 0.7;

            padding-bottom: map-get($sizings, half);

            @include desktop {
              padding-bottom: 0;
            }
          }
        }
      }

      p.review {
        font-size: 14px;
      }
    }

    .review-creator {
      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet {
          flex-direction: row;
          justify-content: flex-start;
        }

        @include desktop {
          flex-direction: row;
          justify-content: flex-start;
        }

        > * {
          vertical-align: middle;

          padding-bottom: map-get($sizings, half);
        }

        div.one {
          p.title-bar {
            width: 80px;
          }
        }

        div.two {
          padding: 0;

          @include tablet {
            padding-left: map-get($sizings, quadruple);
          }

          @include desktop {
            padding-left: map-get($sizings, quadruple);
          }

          p {
            width: 55px;
          }
        }
      }

      .review-area {
        width: 100%;

        > * {
          width: 100%;
        }
      }
    }
  }
}
