@import '../../styles/_constants';

.login {
  @extend .page;

  padding: map-get($sizings, double);

  background-color: map-get($colors, background);

  display: flex;
  box-sizing: border-box;
  justify-content: center;

  material-card {
    width: 100%;
    max-width: 400px;

    .title {
      font-size: 24px;
      line-height: 42px;
      text-align: center;

      opacity: 0.7;
    }

    .inputs {
      color: rgba(0, 0, 0, .7);
    }

    p {
      margin: 0;
    }

    @include tablet {
      width: 75%;
    }

    @include desktop {
      width: 40%;
    }
  }
}
