<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{title}}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation mdl-layout--large-screen-only" routerLinkActive="active">
        <a class="mdl-navigation__link" routerLink="/home">Home</a>
        <a class="mdl-navigation__link" routerLink="/dashboard">Dashboard</a>
        <a class="mdl-navigation__link" routerLink="/feed">Feed</a>
        <a class="mdl-navigation__link" (click)="onLogout()">Logout</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{title}}</span>
    <nav class="mdl-navigation" routerLinkActive="active">
      <a class="mdl-navigation__link" routerLink="/home">Home</a>
      <a class="mdl-navigation__link" routerLink="/dashboard">Dashboard</a>
      <a class="mdl-navigation__link" routerLink="/feed">Feed</a>
      <a class="mdl-navigation__link" (click)="onLogout()">Logout</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <router-outlet></router-outlet>
  </main>
</div>
