@import '../../styles/_constants';

$searchbar-height: 75px;
$other-height: calc((100vh - #{$searchbar-height} - 30px - 56px) / 2);
$other-height-desktop: calc((100vh - #{$searchbar-height} - 40px - 64px) / 2);
$search-height: calc(100vh - #{$searchbar-height} - 30px - 56px);
$search-height-desktop: calc(100vh - #{$searchbar-height} - 40px - 64px);

.home {
  @extend .page;

  height: 100%;

  .home-wrapper {
    width: 100%;
    max-width: $column-size;
    height: 100%;

    > * {
      display: flex;

      box-sizing: border-box;

      padding: map-get($sizings, half) 0;

      @include desktop {
        padding: map-get($sizings, normal) 0;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    #searchbar {
      height: $searchbar-height;
    }

    #loans, #holds {
      height: $other-height;

      @include desktop {
        height: $other-height-desktop;
      }
    }

    #search {
      height: $search-height;

      @include desktop {
        height: $search-height-desktop;
      }

      div[title] * {
        margin: 0;
        padding: 0;

        opacity: 0.7;
      }

      .books {
        height: 100%;

        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;

        a {
          height: 250px;

          padding-right: map-get($sizings, normal);
          padding-bottom: map-get($sizings, normal);

          flex: 0;

          img {
            height: 100%;
          }
        }
      }
    }
  }
}
