@import '../../styles/_constants';

.home-wrapper {
  height: 100%;

  background-color: map-get($colors, background);

  margin: 0;
  padding: map-get($sizings, half);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  > * {
    flex: 1 1 auto;
    display: flex;
  }

  #searchbar {
    height: 75px;

    flex: 0 0 auto;
  }

  #loans, #holds {
    padding: map-get($sizings, half) map-get($sizings, normal);

    @include desktop {
      padding: map-get($sizings, normal) map-get($sizings, double);
    }
  }
}
