@import '../../styles/_constants';

.home-wrapper {
  height: 100%;

  margin: 0;
  padding: map-get($sizings, half);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  > * {
    flex: 1 1 auto;
  }
}
