@import '../../styles/_constants';

.home {
  @extend .page;

  height: 100%;

  .home-wrapper {
    width: 100%;
    max-width: $column-size;
    height: 100%;

    display: flex;
    flex-direction: column;

    > * {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      box-sizing: border-box;

      padding: map-get($sizings, half) 0;

      @include desktop {
        padding: map-get($sizings, normal) 0;
      }

      &:first-child {
        padding-top: 0;
      }
    }

    #searchbar {
      height: 75px;

      flex: 0 0 auto;
    }
  }
}
