@import '../../styles/_constants';

.scroller {
  flex: 1 1 auto;
  display: flex;

  width: 100%;

  .mdl-card-title {
    opacity: 0.7;

    padding: map-get($sizings, normal) map-get($sizings, normal) map-get($sizings, half) map-get($sizings, normal);

    @include desktop {
      padding: map-get($sizings, double) map-get($sizings, double) map-get($sizings, normal) map-get($sizings, double);
    }
  }

  .mdl-card__supporting-text {
    width: 100%;
    height: 100%;

    padding: map-get($sizings, half) map-get($sizings, normal) map-get($sizings, normal) map-get($sizings, normal);

    box-sizing: border-box;

    display: flex;

    @include desktop {
      padding: map-get($sizings, normal) map-get($sizings, double) map-get($sizings, double) map-get($sizings, double);
    }

    .books-wrapper {
      flex: 1 1 auto;
      display: flex;

      width: 100%;

      background-color: white;
      overflow-y: scroll;

      .scroller-error-wrapper {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .scroller-empty-text {
          margin: 0;
        }
      }

      a {
        flex: 0;
        height: 100%;
        min-height: 100%;
        display: inline-block;

        margin: 0 map-get($sizings, normal) 0 0;

        img {
          width: auto;
          height: 100%;

          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
