@import '../../styles/_constants';

.dashboard {
  @extend .page;

  .dashboard-wrapper {
    width: 100%;
    max-width: $column-size;

    p {
      margin: 0;
      padding: 0;
    }

    div[title] * {
      @extend .card-title;
    }

    .row {
      display: flex;

      > * {
        flex: 1 1 auto;

        padding-right: map-get($sizings, normal);

        box-sizing: border-box;
      }
    }
  }
}
